@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');




$white: #FFFFFF;
$button-bg-color: #00838f;
$button-disabled-color: #9E9E9E;
$button-bg-inverted-color: $white;
$button-disabled-color: #9E9E9E;
$button-bg-inverted-color: $white;
$button-inverted-color: $black;

